<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean" style="background: var(--gray-dark);">
    <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"></li>
                <li class="nav-item"><a class="nav-link" href="1-index.html">Shropshire</a></li>
                <li class="nav-item"><a class="nav-link" href="1-recent.html">Latest</a></li>
                <li class="nav-item"><a class="nav-link" href="1-history.html">History</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Churches</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="1-churches-all.html">Churches Summary</a><a class="dropdown-item" href="1-churches-lichfield.html">Lichfield Diocese</a><a class="dropdown-item" href="1-churches-hereford.html">Hereford Diocese</a><a class="dropdown-item" href="1-churches-grade.html">Listing (HE)</a><a class="dropdown-item" href="1-churches-saint.html">Dedication</a></div>
                </li>
                <li class="nav-item"><a class="nav-link" href="1-landscape.html">Landscape</a></li>
                <li class="nav-item"><a class="nav-link" href="1-castles.html">Castles</a></li>
                <li class="nav-item"><a class="nav-link" href="1-houses.html">Houses</a></li>
                <li class="nav-item"><a class="nav-link" href="1-people.html">People</a></li>
                <li class="nav-item"><a class="nav-link" href="1-folklore.html">Folklore</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Places</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="1-places-bridgnorth.html">Bridgnorth</a><a class="dropdown-item" href="1-places-ludlow.html">Ludlow</a><a class="dropdown-item" href="1-places-oswestry.html">Oswestry</a><a class="dropdown-item" href="1-places-shrewsbury.html">Shrewsbury</a><a class="dropdown-item" href="1-places-telford.html">Telford</a><a class="dropdown-item" href="1-places-whitchurch.html">Whitchurch</a></div>
                </li>
                <li class="nav-item"><a class="nav-link" href="1-gardens.html">Gardens</a></li>
                <li class="nav-item"><a class="nav-link" href="1-other.html">Other</a></li>
            </ul>
        </div>
        <h1 style="color: rgb(170,170,170);">{{ page.title }}</h1>
    </div>
</nav>
