{% include 2-header.html %}

<div class="wrapper col3">
	<div id="featured_intro">
		<div>
			<div class="f1text"><b>{{ page.Continent }}</b></div>
<div class="f1text">
{% capture theFile %}F1Stamps-Album{{ page.continent | remove: " " }}{% endcapture %}
{% for continent in site.data[theFile] %}
{% for country in continent.Countries %}
<table>
	<tr>
		<td width="120px">
			<a name="{{ country.Country | downcase | remove: " " | remove: "(" | remove: ")" | remove: "/" }}"></a>
			<img src="Flags/{{ country.Flag }}" width="100px" alt="No Flag"/>
		</td>
		<td>{{ country.Country }}
		</td>
	</tr>
{% for stamp in country.Stamps %}
	<tr>
		<td>
		</td>
		<td>
			<img src="Photos/{{ stamp.Picture }}" width="{{ stamp.Width }}"/><br/>
			<i>Issue date: {{ stamp.IssueDate }}</i><br/><br/>
			{{ stamp.Description }}
{% if forloop.last != true %}
<hr>
{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
{% endfor %}
{% endfor %}
</div>
		</div>
	</div>
</div>

{% include 2-footer.html %}
