{% include 2-header.html %}

<div class="wrapper col3">
	<div id="featured_intro">
		<div>
			<div class="f1text"><b>{{ page.country }}</b></div>
			<div class="f1text">
				<table><tr>
{% capture theFile %}F1Stamps-Country{{ page.country | downcase | remove: " " | remove: "(" | remove: ")" | remove: "/" }}{% endcapture %}
{% for country in site.data[theFile] %}
<td width="120px"><img src="Flags/{{ country.Flag }}" width="100px" alt="No Flag"/></td><td>
{% for stamp in country.Stamps %}
<img src="Photos/{{ stamp.Picture }}" width="{{ stamp.Width }}"/><br/>
			<i>Issue date: {{ stamp.IssueDate }}</i><br/><br/>
			{{ stamp.Description }}
{% if forloop.last != true %}
<hr>
{% endif %}
{% endfor %}
{% endfor %}
				</td></tr></table>
			</div>
		</div>
	</div>
</div>

{% include 2-footer.html %}
