{% include 2-header.html %}

<div class="wrapper col3">
	<div id="featured_intro">
		<div>
			<div class="f1text">
				<b>Cars Timeline</b><br>Below is a list of all of the Formula 1 seasons; for each season, the cars that competed are shown - only cars featured on stamps in my collection are listed here.  The first four stamps are shown - click on the name of an item to see larger images of each stamp that has been associated with the item in a separate web page.
			</div>
{% capture theFile %}F1Stamps-CarsTimeline{{ page.decade }}{% endcapture %}
{% for item in site.data[theFile] %}
<div class="f1text"><b>{{ item.Year }}</b></div>
{% for car in item.Cars %}
<table><tr class="bb"><td colspan="4"><div class="f1text"><a class="bb" href="popups/popup_{{ car.Name | downcase | remove: " " | remove: "(" | remove: ")" | remove: "/" }}.html" target="_blank">{{ car.Name }} ({{ car.Count }} item(s))</a></div></td></tr><tr class="bb">
{% assign numrecs = 0 %}
{% for icon in car.Images %}
<td align="center" width="25%"><img src="Thumbs/120/{{ icon.Image }}" height="120"/></td>
{% assign numrecs = numrecs | plus: 1 %}
{% endfor %}
{% for i in (numrecs..3) %}
<td width="25%"></td>
{% endfor %}
</tr></table>
{% endfor %}
{% endfor %}
		</div>
	</div>
</div>

{% include 2-footer.html %}
