{% include 2-header.html %}

<div class="wrapper col3">
	<div id="featured_intro">
		<div>
			<div class="f1text">
				<b>{{ page.team }}</b>
			</div>
{% capture theFile %}F1Stamps-History{{ page.team }}{% endcapture %}
{% for item in site.data[theFile] %}
<div class="f1text"><b>{{ item.Year }}{% if item.Title %} - Constructors' Championship{% endif %}</b></div>
<table><tr class="bb">
<td width="50%"><div class="f1text">
{% for car in item.Cars %}
{{ car.Name }}
{% if car.Image %}
<a href="popups/popup_{{ car.Name | downcase | remove: " " | remove: "(" | remove: ")" | remove: "/" }}.html" target="_blank"><img src="Thumbs/120/{{ car.Image }}" height="120"/></a>
{% endif %}
<br/>
{% endfor %}
</div></td>
<td><div class="f1text">
{% for driver in item.Drivers %}
{{ driver.Name }}
{% if driver.Image %}
<a href="popups/popup_{{ driver.Name | downcase | remove: " " | remove: "(" | remove: ")" | remove: "/" }}.html" target="_blank"><img src="Thumbs/120/{{ driver.Image }}" height="120"/></a>
{% endif %}
{% if driver.Champion %}(Drivers' Championship){% endif %}
<br/>
{% endfor %}
</div></td>
</tr></table>
{% endfor %}
		</div>
	</div>
</div>

{% include 2-footer.html %}
