{% include 2-header.html %}

<div class="wrapper col3">
	<div id="featured_intro">
		<div>
			<div class="f1text">
				<b>Formula 1 Seasons</b><br>Below is a list of all of the Formula 1 seasons in the decade; click on a year to see the cars and drivers featured on stamps for that specific Formula 1 season.  Also listed are any specific events for the season featured on stamps in my collection and/or any stamps that feature the season in question.  Click on an event or a championship winning driver name to see the stamps featuring that particular event or driver.
			</div>
{% capture theFile %}F1Stamps-Years{{ page.decade }}{% endcapture %}
{% for item in site.data[theFile] %}
<div class="f1text"><a href="2-year{{ item.Year }}.html" target="_blank"><b>{{ item.Year }}</b></a>
<br>
{{ item.Description }}
</div>
<table><tr class="bb"><td><div class="f1text">Constructor Title: {{ item.Constructor }}</div></td></tr>
<tr class="bb"><td><div class="f1text">Driver Title: <a class="bb" href="popups/popup_{{ item.Driver | downcase | remove: " " | remove: "(" | remove: ")" | remove: "/" }}.html" target="_blank">{{ item.Driver }}</a><br/><img src="Thumbs/120/{{ item.DriverImage }}" height="120"/></div></td></tr></table>
<table>
{% for event in item.Events %}
<tr class="bb"><td><div class="f1text"<a href="popups/popup_{{ event.Name | downcase | remove: " " | remove: "{" | remove: ")" | remove: "/" }}.html" target="_blank">{{ event.Name }}</a><img src="Thumbs/120/{{ event.Image }}" height="120"/></div></td></tr>
{% endfor %}
</table>
{% if forloop.last != true %}
<hr>
{% endif %}
{% endfor %}
		</div>
	</div>
</div>

{% include 2-footer.html %}
