<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>A notebook to aid the understanding of and help with the appreciation of history, design and features when visiting the churches in Shropshire</p>
  </div>

  <nav class="sidebar-nav">

    <a class="sidebar-nav-item" href="index.html">Home</a>
    <a class="sidebar-nav-item" href="1.%20Visiting.html">1. Visiting</a>
    <a class="sidebar-nav-item" href="1.%20Visiting - Status.html">1. Visiting - Status (List)</a>
    <a class="sidebar-nav-item" href="1.%20Visiting - Chart.html">1. Visiting - Status (Chart)</a>
    <a class="sidebar-nav-item" href="2.%20Architectural%20Styles.html">2. Architectural Styles</a>
    <a class="sidebar-nav-item" href="3.%20Architectural%20Structure.html">3. Architectural Structure</a>
    <a class="sidebar-nav-item" href="4.%20Internal%20Features.html">4. Internal Features</a>
    <a class="sidebar-nav-item" href="5.%20External%20Features.html">5. External Features</a>
    <a class="sidebar-nav-item" href="6.%20Organisation.html">6. Organisation</a>
    <a class="sidebar-nav-item" href="7.%20History.html">7. History</a>
    <a class="sidebar-nav-item" href="8.%20Special.html">8. Special</a>
    <a class="sidebar-nav-item" href="about.html">About</a>

    <span class="sidebar-nav-item">Currently v0.5.0</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
