    <div class="wrapper col3">
      <div id="featured_intro">
        <div>
          <h1>John Surtess (1964)</h1>
          <div class="f1text">John Surtees CBE (11th February 1934 - 10th March 2017) is the only person to have won the World Championships on both two and four wheels.  He won the F1 title in 1964 with Ferrari.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0070dd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0010ed.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0139ed.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0121cd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0221ad.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0458.jpg" width="200"></td>
		  </tr>
		  </table>
		  <h2>1960 : Team Lotus</h2>
		  <div class="f1text">Surtees switched from motorcycles to cars at the age of 26 making his F1 debut for Lotus.  He made an immediate impact scoring a secnd place finish at the British Grand Prix, his second race, and pole position at his third race.</div>
		  <h2>1961 : Yeoman Credit Racing Team</h2>
		  <div class="f1text">For the 1961 season, Surtees drove a Cooper T53 "Lowline" in a team managed by Reg Parnell.</div>
		  <h2>1962 : Bowmaker Yeoman Racing Team</h2>
		  <div class="f1text">Still driving in the team managed by Reg Parnell, Surtees drove the V8 Lola Mk8 achieving fourth place in the drivers' championship.</div>
		  <h2>1963 : Ferrari</h2>
		  <div class="f1text">Now with Ferrari, Surtees won his first F1 Grand Prix in 1963, but still only managed fourth place in the championship.</div>
		  <h2>1964 : Ferrari / North American Racing Team</h2>
		  <div class="f1text">Two victoires this season meant that Surtees was crowned world champon.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0137.jpg" width="400"/></td>
		  <td valign="top" align="center"><img src="Photos/stamp0045dd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0303.jpg" width="400"/></td>
		  <td valign="top" align="center"><img src="Photos/stamp0423.jpg" width="400"/></td>
		  </tr>
		  </table>
		  <h2>1965 : Ferrari</h2>
		  <div class="f1text">Still driving for Ferrari in F1, Surtees was also competing in sports car racing.  It is this year in which he had a serious accident whilst pratctising in a Lola T70 - he came out of the crash with one side of his body four inches shorter than the other.</div>
		  <h2>1966 : Ferrari / Cooper Car Company</h2>
		  <div class="f1text">In 1966, Surtees started the season with some good results for Ferrari and, had he remained at the team, would likely have become the 1966 drivers' champion.  However, he quit the team in a disagreement over the decision by Ferrari to not let him drive at Le Mans (due to his injuries from the 1965 accident).</div>
		  <h2>1967 - 1968 : Honda Racing</h2>
		  <div class="f1text">For the two seasons at Honda, Surtees was at the mercy of the unreliable Honda cars and was forced to retire on many occasions.  However, at the Italian Grand Prix in 1967 he was victorious providing Honda's second ever race win, beating Jack Brabham by 0.2 seconds.</div>
		  <h2>1969 : Owen Racing Organisation</h2>
		  <div class="f1text">Another uncompetitive season with many retirements driving the BRM P138/P139 for the Owen Racing Organisation.</div>
		  <h2>1970 - 1972 : Team Surtees</h2>
		  <div class="f1text">In 1970, Surtees formed his own team and spent nine seasons competing in Formula 5000, Formula 2 and F1.  He retired from competitive driving in 1972; the team was disbanded at the end of 1978.</div>
        </div>
      </div>
    </div>
