    <div class="wrapper col3">
      <div id="featured_intro">
        <div>
          <h1>British World Champion Grand Prix Drivers</h1>
   		  <div class="f1text">
          <img alt="British World Champion Grand Prix Drivers" src="Photos/stamp0070.jpg" width="400"/><br><br>
          To date there have been ten British World Champion Grand Prix Drivers and each has featured on postage
		  stamps; use the links below to see their Formula 1 careers illustrated using postage stamps.<br><br>
		  <a href="2-britishchampionsmh.html">Mike Hawthorn</a><br>
		  <a href="2-britishchampionsgh.html">Graham Hill</a><br>
		  <a href="2-britishchampionsjc.html">Jim Clark</a><br>
		  <a href="2-britishchampionsjs1.html">John Surtees</a><br>
		  <a href="2-britishchampionsjs2.html">Jackie Stewart</a><br>
		  <a href="2-britishchampionsjh.html">James Hunt</a><br>
		  <a href="2-britishchampionsnm.html">Nigel Mansell</a><br>
		  <a href="2-britishchampionsdh.html">Damon Hill</a><br>
		  <a href="2-britishchampionslh.html">Lewis Hamilton</a><br>
		  <a href="2-britishchampionsjb.html">Jenson Button</a><br>
          </div>
        </div>
      </div>
    </div>
