    <div class="wrapper col3">
      <div id="featured_intro">
        <div>
          <h1>Jim Clark (1963, 1965)</h1>
          <div class="f1text">James Clark Jr OBE (4th March 1936 - 7th April 1968) was a versatile driver, although synonymous with Lotus, he also competed in sports car and touring car racing as well as the Indianapolis 500.  He was killed in a F2 racing accident at Hockenheim, at the time of his death he had achieved more Grand Prix wins and pole positions than any other drive - he is regarded as one of the greatest ever drivers.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0070cd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0005ad.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0009ad.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0176ed.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0317bd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0370cd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0418.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0642dd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0686.jpg" width="400"/></td>
		  <td></td>
		  </tr>
		  </table>
		  <h2>1960 - 1968 : Team Lotus</h2>
          <div class="f1text">Clark first met Colin Chapman at a GT race at Brands Hatch in 1958 - he was runner to Chapman in the race.  In 1959, Clark drove a Lotus Elite at Le Mans finishing 10th.  Chapman was suitably impressed and offered Clark a drive.  His first Drivers' World Championship came driving the Lotus 25 in 1963, winning seven out of the ten races and Lotus its first Constructors' World Championship.  Clark's record of seven wins in a season would not be equalled until 1984 when Alain Prost won seven races for McLaren.  In 1965 he won both the drivers' title and the Indianapolis 500 in the Lotus 38.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0288dd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0037cd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0045cd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0346.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0600cd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0600dd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0439.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0323ad.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0345.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0437.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0438.jpg" width="400"/></td>
		  <td></td>
		  </tr>
		  </table>
        </div>
      </div>
    </div>
