    <div class="wrapper col3">
      <div id="featured_intro">
        <div>
          <h1>Damon Hill (1996)</h1>
		  <div class="f1text">Damon Graham Devereux Hill OBE (born 17th September 1960) is the first son of a champion to win the title.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0070hd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0142ad.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0074cd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0378.jpg" width="400"/></td>
		  </tr>
		  </table>
		  <h2>1992 : Motor Racing Developments Ltd</h2>
		  <div class="f1text">Hill started his Grand Prix career during the 1991 season as a test driver with the championship-winning Williams team while still competing in the F3000 series.  Then midway through the 1992 season he secured a drive with the dying Brabham team, but managed to qualify only twice.</div>
		  <h2>1993 - 1996 : Williams Renault</h2>
		  <div class="f1text">Hill was unexpextedly promoted to the Williams race team alongside Alain Prost following the departure of Riccardo Patrese.  As junior driver he took the number 0, only the second driver in F1 history to do so.  Success followed - Hill was third in the championship in his first season, then twice runner up and finally the World Champion.  Following Senna's death, Hill found himself as team leader in 1994.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0045hd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0084ad.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0440.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0634.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0636.jpg" width="200"/></td>
		  <td></td>
		  </tr>
		  </table>
		  <h2>1997 : Arrows Yamaha</h2>
		  <div class="f1text">As world champion, Hill was in high demand and had a number of offers, but was not adequately financially valued despite his status.  As a consequence, Hill moved to Arrows.  But the car was uncompetitive.</div>
		  <h2>1998 - 1999 : Jordan</h2>
		  <div class="f1text">For the 1998 season, Hill nearly signed for the Prost team, but instead chose to drive for Jordan.  After two disappointing seasons with Jordan, Hill retired.  The highlight with Jordan came at the Belgian Grand Prix in 1998 when Hill delivered Jordan's first ever win at a very wet Spa.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0090.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0111ad.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0079ad.jpg" width="200"/></td>
		  <td></td>
		  </tr>
		  </table>
        </div>
      </div>
    </div>
