<!-- Footer -->
    <!-- ####################################################################################################### -->
    <div class="wrapper col5">
      <div id="footer">
        <div class="footbox">
          <h2>Useful Links</h2>
          <ul>
            <li><a href="http://www.formula1.com/" target="_blank">Formula 1</a></li>
            <li class="last"><a href="http://en.wikipedia.org/wiki/History_of_Formula_One" target="_blank">History of Formula 1</a></li>
          </ul>
        </div>
        <div class="footbox">
          <h2>Online Shops</h2>
          <ul>
            <li><a href="http://stamps.delcampe.net/" target="_blank">Delcampe</a></li>
            <li><a href="http://www.avionstamps.com/index.php" target="_blank">Avion Stamps</a></li>
            <li><a href="http://www.ebay.co.uk/" target="_blank">eBay</a></li>
            <li class="last"><a href="http://www.prinz.co.uk/" target="_blank">Prinz</a></li>
          </ul>
        </div>
        <div class="footbox last">
          <h2>Research</h2>
          <ul>
            <li><a href="http://www.stanleygibbons.com/" target="_blank">Stanley Gibbons</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Cinderella_stamps" target="_blank">Cinderella Stamps</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Illegal_stamps" target="_blank">Illegal Stamps</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Wikipedia:Wikiportal/Formula_One" target="_blank">Wikipedia F1 Portal</a></li>
            <li class="last"><a href="http://www.flags.net/" target="_blank">Flags Database</a></li>
          </ul>
        </div>
        <br class="clear" />
      </div>
    </div>
    <!-- ####################################################################################################### -->
    <div class="wrapper col6">
      <div id="copyright">
        <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="index.html">thecarrotpatch</a></p>
        <p class="fl_right">Template by <a title="Free Website Templates" href="http://www.os-templates.com/" target="_blank">OS Templates</a></p>
        <br class="clear" />
      </div>
    </div>

</body>
</html>