---
layout: f1stamps
---

{% include 2-header.html %}

    <div class="wrapper col3">
      <div id="featured_intro">
        <div>
          <h1>Nigel Mansell (1992)</h1>
          <div class="f1text">Nigel Ernest James Mansell (born 8th August 1953) won both the F1 World Championship and the CART Indy Car World Series - Mansell was the reigning F1 champion when he moved over to CART, and became the first person to win the CART title in his debut season, he is the only person to have held both titles simultaneously.  In his early racing career, Mansell financed his racing himself - he also suffered a number of serious injuries, but persevered.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0070gd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0171bd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0189fd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0074hd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0370gd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0578.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0590.jpg" width="200"/></td>
		  <td></td>
		  </tr>
		  </table>
		  <h2>1980 - 1984 : Team Lotus</h2>
		  <div class="f1text">Mansell's driving was noticed by Colin Chapman and he was selected as the Lotus test driver for 1980.  Mansell's subsequent four years as a full-time Lotus driver were a struggle, as the cars were unreliable and he was continually out-performed by teammate Elio de Angelis.  Out of 59 race starts with the team, he finished just 24 of them.  He managed a best finish of third place, which he achieved five times during the four years.</div>
		  <table>
		  <tr class="bb">
		  <td align="center" width="50%"><img src="Photos/stamp0479ad.jpg" width="400"/></td>
		  <td></td>
		  </tr>
		  </table>
		  <h2>1985 - 1987 : Williams Honda</h2>
		  <div class="f1text">On joining Williams in 1985, Mansell was assigned the Red 5 number on his car.  He started winning races and became a serious title contender - during this time he was twice runner up.  In 1986, before the season had started Honda had reportedly attempted to persuade Frank Williams to fire Mansell and replace him with their own test driver.  Williams, who was always more interested in the Constructors' title than the Drivers' as it showed that his team was the best, refused.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0479bd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0207cd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0037fd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0092ac.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0441.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0626.jpg" width="200"/></td>
		  </tr>
		  </table>
		  <h2>1988 : Williams</h2>
		  <div class="f1text">For the first time in his career, Mansell was the team's undisputed number one driver.  However, Honda had taken their turbo power to McLaren and Williams was left with the naturally aspirated Judd V8 - this was a dismal season.</div>
		  <h2>1989 - 1990 : Ferrari</h2>
		  <div class="f1text">In preparation for the 1989 season, Mansell became the last Ferrari driver to be personally selected by Enzo Ferrari before his death in August 1988, an honour Mansell described as &quot;one of the greatest in my entire career&quot;.  However, the cars were unreliable and so Mansell's time at Ferrari was unremarkable.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0479cd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0601bd.jpg" width="200"/></td>
		  </tr>
		  </table>
		  <h2>1991 - 1992, 1994 : Williams Renault</h2>
		  <div class="f1text">Mansell's return to Williams was not straightforward - he made many demands, which were initially described as &quot;impossible&quot; by Frank Williams.  The second stint at Williams was even more successful than the first, with 1992 being Mansell's finest season.  Mansell set a number of records in 1992.  Despite being world champion, Mansell had a public disagreement with Williams and at the end of 1992 was effectively forced to retire, making way for Alain Prost and Ayrton Senna to drive for Williams.  So, for the 1993 season Mansell signed for the Newman/Haas team to partner Mario Andretti in the CART series.  In 1994, Bernie Ecclestone helped secure Mansell's return towards the end of the season (following the death of Senna) as it was important to have a champion driving that season as TV figures had started to decline (Prost retired in 1993 after winning the championship for Williams).</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0084cd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0479fd.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0045gd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0092bc.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0479dd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0632.jpg" width="200"/></td>
		  </tr>
		  </table>
		  <h2>1995 : McLaren Mercedes</h2>
		  <div class="f1text">Mansell lost his Williams seat to David Coulthard and so signed for McLaren, but never saw eye-to-eye with Ron Dennis.  Also, the McLaren was uncompetitve, and so Mansell retired part way through the season.</div>
        </div>
      </div>
    </div>

{% include 2-footer.html %}
