---
layout: f1stamps
---

{% include 2-header.html %}

    <div class="wrapper col3">
      <div id="featured_intro">
        <div>
          <h1>Jackie Stewart (1969, 1971, 1973)</h1>
		  <div class="f1text">Sir John Young "Jackie" Stewart (born 11th June 1939), nicknamed the "Flying Scot", is a triple world champion.  He was a leading figure in the campaign to improve safety and enhance the medical facilities at the circuits.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0070ed.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0004dd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0189dd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0074ed.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0088cd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0089bd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0370fd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0415.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0568dd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0667ad.jpg" width="200"/></td>
		  </tr>
		  </table>
		  <h2>1965 - 1967 : Owen Racing Organisation</h2>
		  <div class="f1text">Stewart started his F1 career at BRM driving alongside Graham Hill; he finished his rookie season with a win, three seconds, a third, a fifth, and a sixth, and third place in the championship.  A poor season followed as the BRMs were unreliable.  In 1967 the BRMs also struggled with reliability problems.</div>
		  <h2>1968 - 1969 : Matra Organisation</h2>
		  <div class="f1text">A switch to Tyrrell's Matra team started bringing the results and some impressive wins, such as at the Nurburgring where he won by a margin of 4 minutes in rain and fog.  In 1969, Stewart had further dominant wins and won his first championship.  He is currently the only driver to win the world championship in a French-built car.  Also, Stewart led at least one lap of every World Championship Grand Prix, and remains the only driver to achieve this feat.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0145ac.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0350.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0600fd.jpg" width="200"/></td>
		  <td></td>
		  </tr>
		  </table>
		  <h2>1970 - 1973 : Tyrrell</h2>
		  <div class="f1text">In 1970, Tyrrell decided to build his own car, but this was not ready until near the end of season and so Tyrrell bought a March in the interim,  both the March and the new Tyrrell proved unreliable.  However, in 1971, the problems were resolved and once again Stewart dominated in the Tyrrell 003-Cosworth to take his second championship.  A poor season followed as Stewart was suffering medical problems due to the stress of racing on several continents all year round.  Entering the 1973 season he had decided to retire - after the fatal crash of his teammate Francois Cevert at Watkins Glen, Stewart retired one race earlier than intended and missed what would have been his 100th Grand Prix, but he had already taken the championship.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0009fd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0145ad.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0037dd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0045ed.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0176dd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0221dd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0304.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0338.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0604.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0641dd.jpg" width="200"/></td>
		  </tr>
		  </table>
        </div>
      </div>
    </div>

{% include 2-footer.html %}
