---
layout: f1stamps
---

{% include 2-header.html %}

    <div class="wrapper col3">
      <div id="featured_intro">
        <div>
          <h1>James Hunt (1976)</h1>
          <div class="f1text">James Simon Wallis Hunt (29th August 1947 to 15th June 1993) began his racing career in touring car racing before progressing to Formula 3 where he attracted the attention of Hesketh.  His often reckless and action-packed exploits on track earned him the nickname "Hunt the Shunt".</div>
		  <table>
		  <tr class="bb">
		  <td align="center" width="50%"><img src="Photos/stamp0070fd.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0664.jpg" width="400"/></td>
		  </tr>
		  </table>
		  <h2>1973 - 1975 : Hesketh Racing</h2>
		  <div class="f1text">Hesketh purchased a March chassis for 1973.  The team was not taken seriously by rivals who saw Hesketh as party goers enjoying the glamour of F1.  However, the Hesketh March proved more competitive than the works car.  For 1974, Hesketh built its own car inspired by the March but the car was unreliable and Hunt retired more often than not.  1975 was more of the same for Hunt, despite developments to the car.</div>
		  <h2>1976 - 1978 : Team McLaren</h2>
		  <div class="f1text">Hesketh ran out of funds at the end of 1975 and could not find a sponsor, at the same time a vacancy had become available at McLaren and with all of the top drivers already under contract elsewhere Hunt was their only choice.  Many people thought that Hunt was not a serious contender, but in 1976 he proved everyone wrong - one of the greatest F1 seasons.  The 1977 McLaren had issues for the early part of the season and only came good at the end of the season; in 1978, McLaren were slow to adopt the ground effect - so in both these seasons Hunt was uncompetitive.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0014cd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0045fd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0355.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0037ed.jpg" width="200"/></td>
		  </tr>
		  </table>
		  <h2>1979 : Wolf Racing</h2>
		  <div class="f1text">For 1979, Hunt had resolved to leave McLaren and was still much in demand - he turned down an offer from Ferrari.  With Wolf he thought he would have a chance to fight for the title, but their ground effect car turned out to be uncompetitive.  He lost his enthusiasm for racing and retired mid-season.</div>
        </div>
      </div>
    </div>

{% include 2-footer.html %}
