---
layout: f1stamps
---

{% include 2-header.html %}

    <div class="wrapper col3">
      <div id="featured_intro">
        <div>
          <h1>Lewis Hamilton (2008)</h1>
		  <div class="f1text">Lewis Carl Davidson Hamilton MBE (born 7th January 1985) is often considered the best driver of his generation and widely regarded as one of the greatest F1 drivers in the history of the sport.
		  Statistically the most successful British driver in the history of the sport, he holds or has held many records.</div>
		  <table>
		  <tr class="bb">
		  <td align="center" width="50%"><img src="Photos/stamp0070id.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0549dd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td align="center" width="50%"><img src="Photos/stamp0560ad.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0571cd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td align="center" width="50%"><img src="Photos/stamp0614dd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0615.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td align="center" width="50%"><img src="Photos/stamp0667ed.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0680bd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td align="center" width="50%"><img src="Photos/stamp0682bd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0717bd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td align="center" width="50%"><img src="Photos/stamp0718ad.jpg" width="200"/></td>
		  <td></td>
		  </tr>
		  </table>
		  <h2>2007 - 2012 : McLaren Mercedes</h2>
		  <div class="f1text">Hamilton won the GP2 championship in 2006, and coincidently there became a vacancy at McLaren to drive alongside Fernando Alonso for 2007, which was ultimately given to Hamilton.
		  Hamilton was immediately successful, nearly winning the title in his rookie season.  However, his first world championship came the following year.  The McLaren was not as competitive in the following years with Hamilton managing only 4th or 5th in the championship.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0140.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0544.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0502.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0144.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0159.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0161.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0094.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0530.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0286.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0285.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0540dd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0382.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0541cd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0199ad.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0577.jpg" width="400"/></td>
		  <td></td>
		  </tr>
		  </table>
		  <h2>2013 - 2020 : Mercedes F1 Team</h2>
		  <div class="f1text">For the 2013 season, Hamilton moved to Mercedes to fill the vacancy left by Michael Schumacher.
		  Hamilton has since won five more world championships and broken many records with the team.</div>
		  <table>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0580.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0616bd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0617cd.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0652.jpg" width="400"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0677.jpg" width="400"/></td>
		  <td align="center"><img src="Photos/stamp0694bd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0713ad.jpg" width="200"/></td>
		  <td align="center"><img src="Photos/stamp0720cd.jpg" width="200"/></td>
		  </tr>
		  <tr class="bb">
		  <td width="50%" align="center"><img src="Photos/stamp0724dd.jpg" width="200"/></td>
		  <td align="center"></td>
		  </tr>
		  </table>
        </div>
      </div>
    </div>

{% include 2-footer.html %}
