---
layout: f1stamps
---

{% include 2-header.html %}

<div class="wrapper col3">
	<div id="featured_intro">
		<div>
			<div class="f1text">
				<b>Cars</b><br>Below is a list of all of the cars that are identifiable on the stamps within my collection.  The first four stamps are shown - click on the name of an item to see larger images of each stamp that has been associated with the item in a separate web page.
			</div>
{% for item in site.data.F1Stamps-Cars %}
<table><tr class="bb"><td colspan="4"><div class="f1text"><a class="bb" href="popups/popup_{{ item.Name | downcase | remove: " " | remove: "(" | remove: ")" | remove: "/" }}.html" target="_blank">{{ item.Name }} ({{ item.Count }} item(s))</a></div></td></tr><tr class="bb">
{% assign numrecs = 0 %}
{% for icon in item.Images %}
<td align="center" width="25%"><img src="Thumbs/120/{{ icon.Image }}" height="120"/></td>
{% assign numrecs = numrecs | plus: 1 %}
{% endfor %}
{% for i in (numrecs..3) %}
<td width="25%"></td>
{% endfor %}
</tr></table>
{% endfor %}
		</div>
	</div>
</div>

{% include 2-footer.html %}
