---
layout: f1stamps
---

{% include 2-header.html %}

    <!-- ####################################################################################################### -->
    <div class="wrapper col3">
      <div id="featured_slide">
        <div class="nivoSlider" id="slider"> <img alt="" src="images/1.jpg" />
          <img alt="" src="images/2.jpg" /> <img alt="" src="images/3.jpg" />
          <img alt="" src="images/4.jpg" /> <img alt="" src="images/5.jpg" />
        </div>
      </div>
      <div id="featured_intro">
        <div class="f1text">
          <table>
          	<tr>
          	  <td width="50%">
          	  	<p><b>Introduction</b></p>
          	  	<p>In 1950, as an answer to the Motorcycle World Championships introduced in 1949, the Federation Internationale de l'Automobile (FIA) organised the
          	first ever official World Championship for drivers using the Formula One rules - the first official Formula One race was held at Silverstone on 13th May 1950.
          	Motor racing actually started in France, as a direct result of the enthusiasm with which the French public embraced the motor car - the first
          	ever motor race took place on 22nd July 1894.</p>
          <p>Ever since the inception of the World Championship for drivers, the cars, drivers, teams and circuits have been featured on postage stamps from across
          	the world. And since that first race in 1950, the sport has grown to become the most prestigous and expensive sport in the world.</p>
          <p>This web site charts the history of Formula One using postage stamps.</p>
          	  </td>
          	  <td>
          	  	<p><b>How to Use</b></p>
          <p>This web site uses ActiveX controls - please ensure that you allow your browser access to use these controls, to benefit from the full functionality of this web site.</p>
          <p>Use the menu bar above to access the pages showing various views of the stamps in the collection.</p>
          <p><b>Cinderella and Illegal Stamps</b></p>
          <p>Many of the items in my collection are not actually official postage stamps, they are either Cinderella stamps or illegal stamps and so are effectively labels - see the links in the footer below
          	for more information on Cinderella and illegal stamps.</p>
          	  </td>
          	</tr>
          </table>
        </div>
      </div>
    </div>

{% include 2-footer.html %}
