<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="https://dmfbsh.github.io/3churches-notebook/" title="Home">Churches Notebook</a>
            <small>Reference material for understaing Shropshire's Churches</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='https://dmfbsh.github.io/3churches-notebook/public/js/script.js'></script>
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable .fr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
          $('#myTable tr').show();
          $('#myTable tr').each(function() {
            if($(this).find('.fr:visible').length == 0){
              $(this).hide();
            }
          });
        });
      });
    </script>
  </body>
</html>
