<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="EN" dir="ltr" xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://gmpg.org/xfn/11">
    <title>The History of F1 - Depicted on Stamps</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="no" http-equiv="imagetoolbar" />
	<link rel="stylesheet" type="text/css" href="styles/formula1.css" />
    <link type="text/css" href="styles/layout.css" rel="stylesheet" />
    <script src="scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
	<!-- <script src="menu_source/jquery-latest.min.js" type="text/javascript"></script> -->
    <script src="scripts/jquery.nivo.slider.pack.js" type="text/javascript"></script>
    <script src="scripts/jquery.nivo.slider.setup.js" type="text/javascript"></script>
	<link href="menu_source/styles.css" rel="stylesheet" type="text/css">
	<script src="menu_source/menu_jquery.js" type="text/javascript"></script>
    <!--[if lt IE 8]>
    <style type="text/css" media="screen">.nivo-controlNav a{float:left;}</style><![endif]-->
  </head>
<body>

{{ content }}

</body>
</html>
